climada_meta.conf
# IMPORTANT:
#
# 	keep this in sync with climada_meta_update.sh:${CLIMADA_REPOSITORIES}
#
climada_modules
climada_module_kml_toolbox 
climada_module_tropical_cyclone
climada_module_meteorites 
climada_module_barisal_demo 
climada_module_flood 
climada_module_earthquake_volcano 
climada_module_drought_fire
climada_module_storm_europe
climada_module_salvador_demo
climada_module_CAM
climada_meta_core_update.sh
